body {
    background-color: white;
    font-family: Arial;
  }
  
#pano-container {
  margin:20px auto;
  text-align: center;
  align-items: center;
}


h1{
  font-size: 1.5em;
  text-align: center;
  padding: 5px;
  margin: 50px;
}

h3{
  font-size: 0.7em;
  text-align: center;
}
.row{
  display:flex;
  flex-wrap: wrap;
  text-align:center;
  margin: auto;
  max-width: 1000px;
  justify-content: flex-start;
}
  /* Style the images inside the grid */
.column img {
  opacity: 0.8; 
  cursor: pointer; 
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 10px; /* Some padding */
  width: 100px; /* Set a small width */
}
  
.column img:hover {
  opacity: 1;
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/* Expanding image text */
#imgtext {
  
  color: white;
  font-size: 20px;
}

